<div id="<%= dom_id sensitive_datum %>">
  <p>
    <strong>Card number:</strong>
    <%= sensitive_datum.card_number %>
  </p>

  <p>
    <strong>Identity document:</strong>
    <%= sensitive_datum.identity_document %>
  </p>

</div>
