<div id="<%= dom_id password_reset_token %>">
  <p>
    <strong>User:</strong>
    <%= password_reset_token.user_id %>
  </p>

  <p>
    <strong>Token:</strong>
    <%= password_reset_token.token %>
  </p>

</div>
