<div id="<%= dom_id user %>">
  <p>
    <strong>Username:</strong>
    <%= h(user.username) %>
  </p>

  <p>
    <strong>Card number:</strong>
    <%= h(user.card_number) %>
  </p>

  <p>
    <strong>Identity document:</strong>
    <%= h(user.identity_document) %>
  </p>
</div>
