<div id="<%= dom_id user %>">
  <p>
    <strong>Username:</strong>
    <%= user.username %>
  </p>

  <p>
    <strong>Card number:</strong>
    <%= user.card_number %>
  </p>

  <p>
    <strong>Identity document:</strong>
    <%= user.identity_document %>
  </p>

</div>
