<!DOCTYPE html>
<html>
<head>
  <title>Strona Startowa</title>
</head>
<body>

  <h1>Welcome to your Bank!</h1>

  <a href="<%= new_user_path %>">
    <button>Register</button>
  </a>
  
  <%= link_to new_session_path do %>
    <button>Login</button>
  <% end %>   

</body>
</html>

