<div id="<%= dom_id transaction %>">
  <p>
    <strong>Amount:</strong>
    <%= transaction.amount %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= transaction.title %>
  </p>

  <p>
    <strong>Recipient name:</strong>
    <%= transaction.recipient_name %>
  </p>

</div>
